[Desktop Entry]
Type=Application
Name=tridi
GenericName=Point Cloud & Mesh Viewer
Comment=Open point clouds and meshes
Exec=tridi %F
Icon=io.github.rccnroll.tridi
Terminal=false
NoDisplay=false
StartupWMClass=io.github.rccnroll.tridi
Categories=Graphics;3DGraphics;Viewer;
MimeType=application/x-pcd;application/vnd.ply;application/x-xyz-pointcloud;application/vnd.pts;model/gltf-binary;model/gltf+json;model/obj;model/stl;application/vnd.off;model/step;
